:root[data-theme="light"]{
    --background-color: #EEE;
    --font-color: #111;
    --border-color: #1aa2d8;

    --red-color: #EA4335; 
    --yellow-color: #FBBC05;
    --green-color: #8DC44F;
    --blue-color: #4486F4;


    --btn-blue: #3483FA;
    --bnt-blue-bg: #E3EDFB;

    --shadow-color: #1aa2d8;
}

:root[data-theme="amarillo"]{
    --background-color: #f3eba0;
    --font-color: #111;
    --border-color: #d8a51a;

    --red-color: #EA4335; 
    --yellow-color: #FBBC05;
    --green-color: #8DC44F;
    --blue-color: #4486F4;


    --btn-blue: #3483FA;
    --bnt-blue-bg: #E3EDFB;

    --shadow-color: #d8a51a;
}

:root[data-theme="dark"]{
    --background-color: #111;
    --font-color: #f8f8f8;
    --border-color: #333;

    --red-color: #EA4335; 
    --yellow-color: #FBBC05;
    --green-color: #8DC44F;
    --blue-color: #4486F4;


    --btn-blue: #3483FA;
    --bnt-blue-bg: #E3EDFB;

    --shadow-color:#535353;
}

/* PANTALLA DE CARGA */
#contenedor_carga{
    background-color: var(--background-color);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    z-index: 10000;
}

#carga{
    box-shadow: var(--shadow-color) 0px 0px 8px 1px;
    border-top-style: groove;
    height: 100px;
    width: 100px;
    border-radius: 100%;

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    -webkit-animation: girar 1.5s linear infinite;
    -o-animation: girar 1.5s linear infinite;
    animation: girar 1.5s linear infinite;
}

@keyframes girar{
    from { transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}
/* FIN PANTALLA DE CARGA */

body{
    margin-top: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: var(--font-color);
    font-style: normal;
    overflow-x: none;
    background-color: var(--background-color);
}

body::-webkit-scrollbar{
    background-color: var(--border-color);
}

body::-webkit-scrollbar-thumb{
    background-color: var(--background-color);
    border: 2px solid var(--border-color);
}

.proyectos{
    margin-bottom: 100px;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    border-radius: 1vh;
}

.proyectos a{
    text-align: center;
    text-decoration: none;
    box-shadow: var(--shadow-color) 0px 0px 8px 1px;
    border-radius: 1vh;
    padding: 1vh;
    margin: 1vh 1vh 1vh 1vh;
}

.redes{
    padding-top: 2vh;
    background-color: var(--background-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    border-radius: 1vh;
}

.redes a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-decoration: none;
    color: black;
    margin: 1vh;
    box-shadow: var(--shadow-color) 0px 0px 8px 1px;
    padding: 1vh;
    border-radius: 1vh;
    transition: all 0.2s ease-in 0s;
}

.text{
    overflow: hidden;
}

.descripcion{
    padding: 5vh;
    width: 80%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: var(--background-color);
    box-shadow: var(--shadow-color) 0px 0px 8px 1px;
    border-radius: 2vh;
    margin-left: 5%;
}

.descripcion p{
    width: 50%;
}

.text .cara{
    width: 25%;
    float: right;
    display: flex;
}

.text .cara img{
    float: left;
}

#cara{
    display: none;
}

.cara img{
    height: 20vh;
    width: 20vh;
    border-radius: 50%;
}

.descripcion h3{
    height: 5vh;
}

.cuerpo{
    display: flex;
    flex-wrap: nowrap;
}

.saludo{
    padding: 5vh;
    margin-left: auto;
    margin-right: auto;
    height: 10%;
    width: 90%;
    margin-top: 2vh;
    text-align: center;
    background-color: var(--background-color);
    border-radius: 1vh;
    box-shadow: var(--shadow-color) 0px 0px 8px 1px;
    font-size: 10vh;
}


.tecnologias{
    display: flex;
    text-decoration: none;
    list-style-type: none;
}

.tecnologias ul{
    list-style-type: none;
}

.tecnologias li{
    margin: 1vh 1vh 1vh 1vh;
}

.costado{
    position:sticky;
    box-shadow: var(--shadow-color) 0px 0px 8px 1px;
    padding: 1vh;
    margin-left: 4%;
    margin-right: 2%;
    border-radius: 1vh;
    text-align: center;
    background-color: var(--background-color);
    float: right;
}

.costado a{
    color: var(--font-color);
    transition: all 0.2s ease-in 0s;
}

.costado a:hover{
    background-color: var(--background-color);
    transform: scale(1.2);
    box-shadow: var(--shadow-color) 0px 0px 5px 2.5px;
}

.p-info{
    display: block;
    width: 100%;
    margin-right: 5%;
}

.ref{
    text-align: center;
}

.referencias{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.referencias .card{
    text-align: center;
    background-color: var(--background-color);
    box-shadow: var(--shadow-color) 0px 0px 8px 1px;
    border-radius: 2vh;
    padding: 0;
    width: 15%;
}

.referencias .card a{
    text-decoration: none;
    color: var(--font-color);
}

.referencias .card a img{
    width: 50%;
    height: 50%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 2vh;
    border-radius: 50%;
}

.cancion{
    margin-top: 1%;
    margin-left: 1%;
    position:fixed;
    top: 0;
    left:0;
    bottom: 0;
    right: 0;
}

/* RESPONSIVE MEDIA QUERY */
@media (max-width: 900px){
    .text .cara{
        display: none;
    }

    #cara{
        display: block;
    }

    body{
        text-align: center;
    }
    .cara{
        margin-left: auto;
        margin-right: auto;
    }
    .cuerpo{
        flex-direction: column;
    }

    .costado{
        width: 90%;
        margin-top: 2vh;
        margin: 2vh auto auto auto;
    }

    .descripcion{
        padding: 5vh;
        height: 95%;
        flex-wrap: nowrap;
        flex-direction: column;
        margin: auto;
    }

    .descripcion p{
        width: 100%;
    }

    .saludo{
        height: 10vh;
        width: 30vh;
        font-size: 5vh;
    }

    .tecnologias{
        flex-direction: column;
    }
    
    .referencias{
        flex-direction: column;
    }

    .referencias .card{
        height: 50%;
        width: 65%;
        margin-top: 5%;
    }

    .referencias .card img{
        width: 60%;
        height: 50%;
    }

    .cancion{
        display: none;
    }
}

/* FIN RESPONSIVE MEDIA QUERY */